body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'SF Pro Display Medium';
  src: local('SFProDisplay-Medium'), url(./assets/fonts/SFProDisplay-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'SF Pro Display Regular';
  src: local('SFProDisplay-Regular'), url(./assets/fonts/SFProDisplay-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'SF Pro Display Semibold';
  src: local('SFProDisplay-Semibold'), url(./assets/fonts/SFProDisplay-Semibold.ttf) format('truetype');
}

@font-face {
  font-family: 'SF Pro Display Bold';
  src: local('SFProDisplay-Bold'), url(./assets/fonts/SFProDisplay-Bold.ttf) format('truetype');
}
